body{
    margin: 0;
    background-color: gray;
}

p{
    padding-left: 20px;
}

label{
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    width: 120px;
}

input[type="submit"]{
    margin-left:134px;
}