body{
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

form{
    padding: 25px;
    border-style: dashed;
    border-color: green;
    border-radius: 20px;
    display: inline-block;
}

label{
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    width: 120px;
}

input[type="submit"]{
    margin-left:130px;
}

li{
    list-style-type: none;
}